.products {
  padding-top: em(50);

  &__title {
    margin-bottom: em(20);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: em(20);
    grid-auto-rows: 1fr;
    margin: 0 auto;

    @include is-tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include is-mobile {
      grid-template-columns: 1fr;
    }
  }


  &__product {
    max-width: 100%;
  }
}
